﻿@model FunAppointement.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Veuillez-vous identifier</h2>

<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <td align="right">Identifiant :</td>
            <td>@Html.EditorFor(n => n.Pseudo)</td>
        </tr>
        <tr></tr>
        <tr>
            <td align="right">Mot de passe :</td>
            <td>@Html.EditorFor(n => n.Password)</td>
        </tr>
    </table>

    <input type="submit" class=" btn-group-lg" value="Se connecter" />
}

<li>@Html.ActionLink("S'enregistrer", "Authentification", "CreateUser")</li>