﻿@model FunAppointement.Activity

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.NameGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.NameGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.StreetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.StreetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeActivity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeActivity.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
