﻿@model FunAppointement.Activity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.NameGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.NameGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.StreetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.StreetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeActivity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeActivity.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDActivity }) |
    @Html.ActionLink("Back to List", "Index")
</p>
