﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FunAppointement</h1>
    <p class="lead">FunAppointement est un site permettant de mettre ses disponibilités ou d'organiser des evenements FUN.</p>
    <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            FunAppointement vous permet d'organiser facilement vos moments de détentes avec les autres,
            grace son moteur exclusif de preferences d'activités en fonction de vos disponibilités !!!!
        </p>
        <p><a class="btn btn-default" Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Creer votre compte</h2>
        <p>cliquer ici pour commencer à creer votre cmopte</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Activités</h2>
        <p>Vous pouvez selectionner vos activités préférées, et voir les evenements déjà prévus !!!</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>